<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'edit.css' %}">
</head>
<body>
  <form method="post">
    {% csrf_token %}
    <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" value="{{list.name}}" id='name' required />
        <label for="name" class="form__label">Name</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="lastname" value="{{list.lastname}}" id='name' required />
        <label for="name" class="form__label">Lastname</label>
      </div>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="gmail" value="{{list.gmail}}" id='name' required />
        <label for="name" class="form__label">Gmai</label>
      </div>
        <input type="submit" >
      </form>
</body>
</html>