body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background: #3f3d45;
}

table {
    border-collapse: collapse;
    width: 80%;
    /* Adjust the width as needed */
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color:  silver;
}

/* extra css */
#googleRow{
    background: silver;
}

#lightColor{
    background: #523e94;   
}
h1,p{
    color: white;
}